<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Falling Type</title>
  <link th:href="@{/styles/gameStyle.css}" rel="stylesheet" />
</head>

<body class="disabled">
<div id="mainDiv">
  <canvas id="two-canvas"></canvas>
</div>

<!-- Start Screen Popup -->
<div id="startScreenPopup" class="start-menu">
  <h1>Welcome to Falling Type!</h1>
  <button type="button" id="playBtn" class="play-btn" onclick="startGame()" disabled>Play</button>
  <a href="highscores"> Leaderboard </a>
</div>

<!-- Start Screen Popup -->
<div id="highScoreSubmit" style="display:none;" class="start-menu">
  <form action="/saveHighScore" method="post">
    <label for="userName">User Name:</label>
    <input type="text" id="userName" name="userName"><br><br>
    <input type="submit" value="Submit">
  </form>
</div>

<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
<script th:src="@{/js/two.min.js}"></script>
<script th:src="@{/js/game.js}"></script>
</body>

</html>