body.disabled:before {
   content: "";
   position: fixed;
   z-index: 1;
   min-height: 100vh;
   width: 100%;
   left: 0;
   top: 0;
   background: rgba(0,0,0, .5);
}

#startScreenPopup {
  position: fixed;
  z-index: 2;
  background: #fff;
  border: 2px #ccc solid;
  padding: 30px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}